.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgb(185, 185, 185) 2px solid;
  border-radius: 7.5px;
  background: #eeeeee78;
  width: 562.5px;
  margin: 25px;
  padding: 50px 31.25px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 337.5px;
  margin: 3.75px;
}

.inputField h1 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}

.wrappedInputField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 225px;
}

.wrappedInputField input {
  width: 225px;
  line-height: 25px;
  border-style: inset;
  border-width: 2.5px;
  font-size: 15px;
  font-family: monospace;
  padding: 1.25px;
  background-color: white;
  border-radius: 4px; /* added border-radius*/
}

.wrappedInputField input:focus {
  outline: none;
}

.wrappedInputField span {
  font-size: 10px;
  margin: 3px;
  color: red;
}

.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18.75px;
  width: 337.6px;
}

.needAccount {
  font-size: 18.75px;
  font-weight: 400;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  border: none;
}

.needAccount:focus {
  outline: none;
}

.login {
  padding: 6.25px;
}
