.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: 'Alata', sans-serif;
}

.title {
  margin-bottom: 50px;
}

.error {
  color: red;
  font-size: 16px;
  margin-bottom: 16px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.buttonWrapper button {
  margin: 15px 0;
  width: 100%;
}
