.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000000000000000;
  background: '#334257';
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
