.world_item {
  cursor: pointer;
  width: 400px;
  height: 72px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.world_item p {
  color: gray;
  font-size: 20px;
}

.world_item h1 {
  color: white;
  font-size: 20px;
  font-weight: 100;
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  border-color: rgba(173, 173, 173, 0.74);
}
