.button {
  font-family: 'Minecraft';
  border: none;
  border-left: 1px rgba(221, 221, 221, 0.74) solid;
  border-top: 1px rgba(221, 221, 221, 0.74) solid;
  border-right: 2px rgb(70, 70, 70) solid;
  border-bottom: 2px rgb(70, 70, 70) solid;
  box-shadow: 0 0 2px 2px black;
  color: white;
  height: 35px;
  font-size: 15px;
  background: #5b5b5c;
  border-radius: 3px;
  text-shadow: 3px 3px 0px #424242;
  cursor: pointer;
}

.button:not([disabled]):hover {
  background: #7c8bbc;
  color: #f8f6a4;
}

.button[disabled] {
  cursor: not-allowed;
  color: #898989;
  background: #181818;
  border: none;
  border: black solid 1px;
}

.button:focus,
.button:active {
  outline: none;
}
