.button {
  font-family: 'Minecraft';
  border: none;
  border-left: 1px rgba(221, 221, 221, 0.74) solid;
  border-top: 1px rgba(221, 221, 221, 0.74) solid;
  border-right: 2px rgb(70, 70, 70) solid;
  border-bottom: 2px rgb(70, 70, 70) solid;
  box-shadow: 0 0 2px 2px black;
  color: white;
  height: 35px;
  font-size: 15px;
  background: #5b5b5c;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background: #7c8bbc;
  color: #f8f6a4;
}

.button:active {
  outline: none;
}
