.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 372px; /* 40px item * 9 items */
  height: 44px;
  margin-left: 20px;

  background: #2d3513; /* green minecraft menu inventory*/
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 2px;
}
.item {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  border: 2px solid #8d8d8d;
  margin-right: 1px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.item:last-child {
  margin-right: 0px;
}
