.wrapper {
  font-family: 'Alata', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper button {
  margin-top: 20px;
  width: 100px;
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 300px;
}

.title {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}

.slider {
  margin-bottom: 10px;
}
