.wrapper {
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 6;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  font-family: 'Alata', sans-serif;
  background: rgba(49, 49, 49, 0.342);
  padding: 12px;
  border-radius: 5px;
}

.title {
  color: rgb(66, 66, 66);
  margin-bottom: 10px;
}

.body {
  color: white;
}

/* loading dots */

.body:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
