.wrapper {
  position: fixed;
  top: 0;
  z-index: 4;
  opacity: 0;
  /* visibility: hidden; Hidden at first */
  width: 100vw;
  height: 100vh;
}

.messagesWrapper {
  position: fixed;
  bottom: 75px;
  left: 0;
  z-index: 4;
  width: 600px;
  /* height: 500px; */
  margin-left: 5px;
  background: black;
  background-color: #00000081;
  word-break: break-all;
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 10px);
  margin: 5px;
  height: 29px;
  background: #00000081;
  opacity: 0;
  padding: 5px;
  z-index: 5;
  font-family: 'Alata', sans-serif;
  color: white;
  border: none;
}

.input:focus {
  outline: none;
}
