.blocker {
	position: absolute;

	width: 100%;
	height: 100%;

	z-index: 4;

	background-color: rgba(0, 0, 0, 0.5);
}

.crosshair {
	position: absolute;
	z-index: 1;
	margin: auto;
	width: 4vh;
	height: 4vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
}
