.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.title {
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
}

.worldName {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttonWrapper button {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 260px;
}
