.wrapper {
  font-family: 'Alata', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
}

.title {
  font-weight: 300;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  color: white;
}

.buttonWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper button {
  width: 360px;
}

.buttonWrapper p {
  margin-top: 10px;
  max-width: 400px;
  text-align: center;
  color: rgb(168, 168, 168);
}

.finalButts {
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.finalButts button {
  width: 230px;
}
