.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.logo {
  margin: 0 auto;
  width: 300px;
}

.button {
  width: 350px;
  margin: 10px 0;
}
