.wrapper {
  font-family: 'Alata', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.buttonGroupGroup {
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.buttonGroup button {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 230px;
}

.button:active,
.button:focus {
  outline: none;
}
