.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.crosshair {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 2vh;
  height: 2vh;
  transform: translate(-50%, -50%);
  user-select: none;
}

.blocker {
  display: flex;
  position: absolute;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
  font-size: 15px;
  margin-bottom: 50px;

  font-family: 'Alata', sans-serif;
  text-shadow: 2px 2px #4c4c4c;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.menu button {
  width: 400px;
  margin: 10px;
}

.moreOptionsWrapper {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.optionsGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.optionsGroup button {
  width: 190px;
  margin-left: 0;
  margin-right: 0;
}

.world_not_found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.world_not_found button {
  margin-top: 10px;
  width: 100px;
}
