.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: space-between;
  z-index: 3;
}

.wrapper p {
  color: white;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.472);
  font-family: 'Alata', sans-serif;
}

.subSectionTitle {
  border-bottom: 2px solid rgba(255, 255, 255, 0.582);
}

.leftPanel {
  padding: 5px 8px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.rightPanel {
  padding: 5px 8px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
