.wrapper {
  position: fixed;
  top: 0;
  z-index: 2;
  visibility: hidden; /* Hidden at first */
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}

.messagesWrapper {
  position: fixed;
  bottom: 75px;
  left: 0;
  z-index: 3;
  width: 600px;
  height: 500px;
  margin-left: 5px;
  background: black;
  background-color: #00000081;
}
