.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity 1s;
}

.panorama {
  position: fixed;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  filter: blur(5px);
  z-index: 1;
}

.logoWrapper {
  z-index: 2;
  margin-bottom: 20px;
  position: relative;
  max-height: 300px;
}

.logoWrapper span {
  position: absolute;
  bottom: 35px;
  right: -55px;
  font-size: 23px;
  color: rgb(251, 255, 0);
  font-family: 'Alata', sans-serif;
  text-shadow: 4px 4px black;
  text-align: center;
  z-index: 3;
  animation: LOGO_SPAN 0.25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.logo {
  width: 350px;
  z-index: 2;
}

.play {
  width: 450px;
  margin: 10px 0;
  z-index: 2;
}

.options {
  width: 450px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.options_butt {
  width: 220px;
  margin: 10px 0;
}

@keyframes LOGO_SPAN {
  0% {
    transform: scale(0.875) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(-20deg);
  }
  /* 100% {
    font-size: 25px;
  } */
}
