.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 10px);
  margin: 5px;
  height: 29px;
  background: #00000081;
  opacity: 0;
  /* visibility: hidden; */
  padding: 5px;
  z-index: 3;
  overflow-x: auto;
  overflow-y: hidden;
}
